:root{
--theme-color: #B1191A;
--secondary-color:#FEEC42;
--accent-color:#F4D8A8;

--background-color:#FFF8EF;

--mono-color:#FFFFFF;
--ohno-color:#2D221B;

--text-light-color:#5B4A3D;

--button-color:#B54424;
--button-hover-color:#91371D;

--success-color:#4E7A4D;

}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: var(--theme-color) var(--background-color);
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: var(--background-color);
  }

  *::-webkit-scrollbar-thumb {
    background-color: var(--theme-color);
    border-radius: 10px;
    border: 3px solid var(--background-color);
  }

/* ==== Fonts ==== */
h1 {font-family: 'Libre Baskerville', serif; font-size: 3.4rem}
h2, h3, h4, h5, h6 {font-family: 'Libre Baskerville', serif;}
p, a, footer {font-family: 'Open Sans', sans-serif; font-size: 1.6rem}

/* ==== Background ==== */
body {
    background-color: var(--background-color);
}

/* ==== Misc. ==== */
hr {
    width: 10%;
    border-color: var(--theme-color);
}

.dropdown {
    float: left;
    overflow: hidden;

}

#navbarSection {
    position: sticky;
    top: 0;
    opacity: 0.9;
    z-index: 10;
}

#navBarCont {
    transition: all 0.4s ease;
}

#navBarCont.scrolled {
    background-color: var(--mono-color);
    border-radius: 0px 0px 50px 50px;
    padding: 0px 0px;
    border: 2px solid var(--button-hover-color);
    border-top: none;
}


.nav-bar-container {
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    position: absolute;
    width: 100%;
}



.left-side-container {
    width: 20%;
}

.left-side-container .logo {
    height: 100px;
    width: 260px;
    display: flex;
    align-items: left;
}

.dropdown svg {
    transition: transform 0.3s ease;
}

.dropdown-content {
    visibility: hidden; 
    opacity: 0; 
    position: absolute;
    background-color: var(--ohno-color);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
    padding: 1rem;
    border-radius: 2px;
    margin: 1rem 0.1rem 0rem 0rem;
    display: flex;
    flex-direction: column;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.dropdown-content li {
    float: none; 
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 1.2rem;
}

.dropdown:hover .dropdown-content {
    opacity: 1;
    visibility: visible;
}

.dropdown:hover svg {
    transform: rotate(180deg);
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
    padding: 20px;
    
}

.nav-links a {
    color: var(--ohno-color);
    text-decoration: none;
    font-size: 19px;
    font-weight: 600;
    transition: color 0.3s ease;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    padding: 10px 15px;
    background-color: transparent;
    display: inline-block;
    transition: all 0.3s ease-in-out;

}
.nav-links li:nth-child(even) a:hover {
    transform: scale(1.12) rotate(3deg);
    background-color: var(--secondary-color);
    border-radius: 5px;
    overflow: hidden;

    color: var(--theme-color);
}

.nav-links li:nth-child(odd) a:hover {
    transform: scale(1.12) rotate(-3deg);
    background-color: var(--secondary-color);
    border-radius: 5px;
    overflow: hidden;

    color: var(--theme-color);
}
/* .nav-links a:hover {
    background-color: var(--accent-color);
    border-radius: 5px;
    overflow: hidden;

    color: var(--theme-color);
    transform: scale(1.1) rotate(5deg)

} */

.hero-container {
    display: flex;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

/* .hero-container::before {
    content: '';
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.527)
} */

.hero-bg-video {
    position: absolute; 
    object-fit: cover;
    z-index: -1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.hero-img {
    position: relative; 
    object-fit: cover;
    z-index: -1; 
    height: 100%;
    width: 100%;
    margin: 7rem auto 0px auto; 
    transform: scale(.95);
}

.hero-elements {
    z-index: 2;
    color: var(--mono-color);
    position: relative; 
    display: flex;
    line-height: 1.8rem;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}


.hero-text span, blockquote span{
    color: var(--theme-color)
}

/* ==== Custom Buttons ==== */
.mono-btn {
    background-color: transparent;
    border: 1px solid var(--mono-color); 
    position: relative;
    width: 270px; 
    margin: 0 auto;
    height: 53px; 
    font-weight: 300;
    color: var(--mono-color);
    text-align: center;
    text-decoration: none;
    letter-spacing: 2.4px;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
    z-index: 2;
}

.mono-btn:hover {
    background-color: var(--button-hover-color);
    border-color: var(--button-hover-color);
}

.ohno-btn {
    background-color: var(--theme-color);
    border: 2px solid var(--button-color); 
    border-radius: 10px; 
    position: relative;
    width: 270px; 
    margin: 0 auto;
    height: 53px; 
    font-weight: 300;
    color: var(--mono-color);
    text-align: center;
    text-decoration: none;
    letter-spacing: 2.4px;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}

.ohno-btn:hover{
    background-color: var(--background-color);
    border-color: var(--button-hover-color);
    color: var(--ohno-color);
}

/* ==== Promo break Section ==== */
#promoSection {
    position: relative;
    margin-top: 2rem;
    background-color: var(--accent-color);
    border-radius: 25px;
    border-top: 0px;
    display: flex; 
    justify-content: center;
    align-items: center;
    padding: 4rem;
}

.promo-container {
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    max-width: 1400px;
}

.l-sided-food-img, .r-sided-food-img {
    flex: 1; 
}

.l-sided-food-img{
    transform:translateY(-20px);
}

.r-sided-food-img{
    transform:translateY(20px);
}

.l-sided-food-img img, .r-sided-food-img img {
    width: 100%; 
    height: 600px; 
    object-fit: cover; 
    border-radius: 15px;
    box-shadow:0 15px 35px rgba(0, 0, 0, 0.397);

    transition:transform .35s ease;
}

.l-sided-food-img img:hover,
.r-sided-food-img img:hover{
    transform:scale(1.04);
}

.promo-text{
    flex:1.3;

    text-align:center;

    padding:0 2rem;
}

.promo-text h2{
    color:var(--theme-color);

    margin-bottom:1rem;

    font-size:2.7rem;

    line-height:1.3;
}

.promo-text p{
    color:var(--text-light);

    line-height:1.8;

    margin-bottom:2rem;
}

/* ==== Location/Map Section ==== */
#locationSection { 
    margin-top: 2rem; 
}

location-container {
    display: flex; 
    position: relative; 
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    max-width: 1400px;
    height: 700px;
    gap: 1rem;

}

#map { 
    height: 500px; 
    width: 100%;
}